#id_parrafo1{
    text-align:right;
    font-style:italic;
}
#id_parrafo2{
    text-decoration:line-through;
    text-transform:uppercase;
}
#id_parrafo3{
    font-size: 1.2em;
    font-family:sans-serif;
}
#id_parrafo4{
    text-shadow:-4px 3px 5px rgb(14, 233, 62);
    font-weight:bold;
}
#div1{
    background-color: hsl(96, 62%, 77%);
    border-radius: 10px;
    margin: 5px;
    height: 200px;
    width: 300px;
    display: inline-block;
}
#div2{
    background-color: hsl(177, 41%, 71%);
    border-radius: 10px;
    margin: 5px;
    height: 200px;
    width: 300px;
    display: inline-block;
}
#div3{
    background-color: hsl(298, 41%, 71%);
    border-radius: 10px;
    margin: 5px;
    height: 200px;
    width: 300px;
    display: inline-block;
}
.rojo{
    background-color: hsl(0, 82%, 48%);
    height: 50px;
    width: 100px;
}